<div class="container">
  <h1 class="text-center font-weight-bolder"><%= @check %>に関するスポット</h1>
  <%= render 'narrow_tag', tags: @tags %>
  <div class ="row d-flex justify-content-center">
    <% search_plans.each do |plan| %>
      <div class="spot-box card border-0 p-3 m-3">
        <%= link_to plan_path(plan) do %>
          <div class="card-body">
            <p class="spot-title text-dark"><%= plan.title %></p>
          </div>
          <div class="card-body spot-body">
            <p class="card-text text-dark"><%= plan.body %></p>
          </div>
        <% end %>
        <p class="card-text text-dark">by <%= plan.user.name %></p>
      </div>
    <% end %>
  </div>
</div>
</div>

