<div class="container">
  <h1 class="text-center font-weight-bolder"><%= @spot.title %>詳細</h1>
  <h5 class="text-right font-weight-bolder">by <%= @spot.user.name %></h5>

  <div class="row">
    <div class="col-4 mt-3">
      <%= image_tag @spot.get_image_id, class:'card-img-show' %>
    </div>
    <div class="col-4 mt-3">
      <div id='map'></div>
      <div class="address"></div>
      <div class="address text-center">
        緯度:<%= @spot.lat %><br>
        経度:<%= @spot.lng %>
      </div>

    </div>
    <div class="col-4 mt-3">
      <div class="spot-box-show card">
        <div class="card-body">
          <h5 class="font-weight-bolder">詳細情報</h5>
          <%= @spot.body %><br>
          <div class="show-tag">
            <% if @tags.present? %>
            <% @tags.each do |tag| %>
              <%= link_to spots_path(tag: tag.name) do %>
                <i class="fas fa-tag"></i> <%= "#{tag.name}(#{tag.taggings_count})" %>
              <% end %>
            <% end %>
            <% else %>
              <p>タグがありません</p>
            <% end %>
          </div>
          <div id="star-rate<%= @spot.id %>"></div>
          <script>
                $('#star-rate<%= @spot.id %>').empty();
                $('#star-rate<%= @spot.id %>').raty({
                  size      : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  half      : false,
                  readOnly: true,
                  score: <%= @spot.star %>
                });
              </script>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        <div class="ml-4">
          コメント:<%= @spot.spot_comments.count %>件
        </div>
        <ul class="spot-comment">
          <% @spot.spot_comments.each do |spot_comment| %>
            <li>
              <%= spot_comment.comment %><br>
              <div class="text-right mr-2">
                <%= spot_comment.created_at.strftime('%Y/%m/%d') %>
                by <%= spot_comment.user.name %>
                <% if spot_comment.user == current_user || current_user.name == "admin"  %>
                  <%= link_to "削除", spot_spot_comment_path(spot_comment.spot, spot_comment), method: :delete %>
                <% end %>
              </div>

            </li>
          <% end %>
        </ul>
      </div>
      <div class="ml-3">
        <% if current_user.name != "guestuser" %>
          <%= form_with model: [@spot, @spot_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメントを入力してください" %>
            <%= f.submit "コメント送信" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="show-btn mt-3 text-center">
        <div>
          <%= form_with model: CartSpot.new , url: '/cart_spots/', method: :post, local:true do |f| %>
          <%= f.hidden_field :spot_id, :value => @spot.id %>
          <%= f.submit "計画に加える", class: 'btn btn-success' %>
          <p>ボタンを押してMyプランに加えよう!</p>
        <% end %>
        </div>
        <div class="mt-2 mb-2">
          <% if current_user.name == "guestuser" %>
            <%= link_to "登録して他機能も使う", destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
          <% elsif  @spot.user == current_user || current_user.name == "admin"  %>
            <%= link_to "編集", edit_spot_path(@spot), class: 'btn btn-success' %>
            <%= link_to "削除", spot_path(@spot), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


    <style>
    #map {
      height: 230px;
      width: 230px;
    }
    </style>

    <!-- js部分 -->
    <script>
        function initMap() {

          //初期表示位置(中心位置を登録マーカーに変更)
          let latlng = new google.maps.LatLng(<%= @spot.lat %>, <%= @spot.lng %>);
          //デザイン
          let styles = [
               {
                stylers: [
                 { "saturation": 0 },
                 { "lightness": 0 }
                ]
               }
              ];


          let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              styles: styles,
              center: latlng
          });
          let transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          //複数マーカー ここから
          // % @posts.each do |post|%>
            ( function() {
              let markerLatLng = new google.maps.LatLng({lat: <%= @spot.lat %>, lng: <%= @spot.lng %>}); // 緯度経度のデータ作成
              let marker = new google.maps.Marker({
                position: markerLatLng,
                map: map
              });
        　　　//マーカーをクリックしたとき、詳細情報を表示
              let infowindow = new google.maps.InfoWindow({
                position: markerLatLng,
                content: "<a target='_blank'><%= @spot.title %></a>"
              }); //ここで詳細ページへのリンクを表示させる
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });

           })();
          // % end %>
          //複数マーカー ここまで
      }
    </script>
  </div>
</div>