<div class="container-fluid">
  <div class="row offset-md-2">
    <h4 class="mb-4"><mark class="bg-light">マイページ</mark></h4>
  </div>
  <div class="form-group row ml-3">
    <h4 class ="ml-3">
      <strong>登録情報</strong>
    </h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>ユーザーネーム</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>Email</th>
          <th><%= @user.email %></th>
        </tr>
      </tbody>
    </table>
    <div class="col-2 ml-4">
      <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success form-control"%>
    </div>
  </div>

  
  <div class="spots d-flex flex-wrap align-content-stretch">
      <% @spots.each do |spot| %>
        <div class="spot-box card border-0 w-25 p-3 m-3 bg-warning">
          <%= link_to spot_path(spot) do %>
            <div class="card-body">
                <p class="card-text text-dark"><%= spot.title %></p>
            </div>
            <%= image_tag spot.get_image_id, size: "100x100", class: "card-img" %>
            <div class="card-body">
              <p class="card-text text-dark">ユーザー名:<%= spot.user.name %></p>
              <p class="card-text text-dark"><%= spot.body %></p>
              <div id="star-rate<%= spot.id %>"></div>
              <script>
                $('#star-rate<%= spot.id %>').empty();
                $('#star-rate<%= spot.id %>').raty({
                  size      : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  half      : false,
                  readOnly: true,
                  score: <%= spot.star %>
                });
              </script>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  
</div>