<div class="container-fluid">
  <h1 class="text-center font-weight-bolder"><%= @user.name %>の部屋</h1>
  <div class="row">
    <div class="my-form">
      <ul class="my-box">
        <li>
          通り名: <%= @user.name %>
        </li>
        <li>
          <% if @user == current_user || current_user.name == "admin" %>
            Mail:<%= @user.email %>
          <% end %>
        </li>
      </ul>
      <div class="text-right">
        <% if @user.name == "guestuser" %>
          <%= link_to "新規登録へ", destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
        <% elsif @user == current_user || current_user.name == "admin" %>
          <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <% @plans.each do |plan| %>
      <div class="plan-box card border-0 w-25 m-2">
        <%= link_to plan_path(plan) do %>
          <div class="card-body">
            <h7 class="font-weight-bolder"><%= plan.title %></h7><br>
            <p><%= plan.body %></p>
            <p>by <%= plan.user.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class ="row d-flex justify-content-center">
    <% @spots.each do |spot| %>
      <div class="spot-box card border-0 w-25 p-3 m-2">
        <%= link_to spot_path(spot) do %>
          <div class="card-body">
            <p class="spot-title text-dark"><%= spot.title %></p>
          </div>
          <%= image_tag spot.get_image_id, size: "100x100", class: "card-img" %>
          <div class="card-body">
            <p class="card-text text-dark"><%= spot.body %></p>
          </div>
        <% end %>
        <div class="card-body">
          タグ<br>
          <%= spot.tag_list %>
        </div>
        <div id="star-rate<%= spot.id %>"></div>
        <script>
          $('#star-rate<%= spot.id %>').empty();
          $('#star-rate<%= spot.id %>').raty({
            size      : 25,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            half      : false,
            readOnly: true,
            score: <%= spot.star %>
            });
        </script>
        <p class="card-text text-dark">by <%= spot.user.name %></p>
      </div>
    <% end %>
  </div>
</div>
</div>