<div class="container text-center mt-5">
  <h1 class="font-weight-bolder">ログイン</h1>
  <div class="user-form mt-4">
    <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
      <div class="field">
        <%= f.label :"ユーザーネーム" %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "次回、おぼえておく...?" %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン",class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
